.contain {
  width: 460px;
  height: 590px;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}
.body {
  width: 250px;
  height: 500px;
  position: absolute;
  top: 12%;
  left: 22%;
}
.bikinitop {
  width: 251px;
  height: 500px;
  position: absolute;
  top: 12%;
  left: 22%;
  z-index: 1;
}

.bikinibottom {
  width: 250px;
  height: 500px;
  position: absolute;
  top: 12%;
  left: 22%;
  z-index: 1;
}

.model {
  width: 60px;
  height: 77px;
  position: absolute;
  top: 5%;
  left: 45.5%;
  z-index: 1;
}

.feetleft {
  width: 25px;
  height: 41px;
  position: absolute;
  bottom: 6.5%;
  left: 40.4%;
  z-index: 1;
}

.feetright {
  width: 25px;
  height: 41px;
  position: absolute;
  bottom: 6.5%;
  right: 33.3%;
  z-index: 1;
}

.shoes {
  width: 500px;
  height: 1000px;
  position: absolute;
  bottom: -40%;
  right: -3.5%;
  transform: scale(0.5);
  z-index: 1;
}

.handbags {
  width: 500px;
  height: 1000px;
  position: absolute;
  bottom: -40.5%;
  right: -3.5%;
  transform: scale(0.5);
  z-index: 4;
}

.hairstyle {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -74%;
  right: -59%;
  transform: scale(0.16);
  z-index: 4;
}

.necklaces {
width: 997px;
  height: 1000px;
  position: absolute;
  top: -56%;
  right: -58%;
  transform: scale(0.19);
  z-index: 4;
}
